.card-container {
    display: inline-block;
    width: 23.5%;
    margin: 2% 4.75%;
}
.card {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.164);
   
    overflow: hidden; 
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.card-body {
    padding: 20px;
    min-height: 150px;
    color: white;
}
.card-body h4, .tag {
    font-family: "Poppins", sans-serif;
}
.card-body p {
    font-size: 18px;
    margin: 0 0 40px; 
    text-align: justify;
}
.primary-button-large {
    background-color: black;
    color: #18d26e;
    margin: 4px;
    padding: 4px;
    border-radius: 4px; 
    text-decoration: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    opacity: 0.7; 
}




